{% macro select(name, class='') -%}
<select
  name="{{ name }}"
  id="{{ name }}"
  class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 p-5 py-3 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500 {{ class }}"
>
    <option selected="selected">Choose a country</option>
    {%for team, img_path in teams.iteritems()%} 
        {% set selected = '' %}
        {%if game is defined %} 
            {%if name == 'team' and game.team_1.name == team %}
                {% set selected = 'selected' %}
            {%elif name == 'opponent' and game.team_2.name == team %}
                {% set selected = 'selected' %}
            {%endif%}
        {%endif%}
        <option value="{{ team }}" {{ selected }}>{{ team }}</option>
    {%endfor%}
</select>
{%- endmacro %}
